body {
    background-color: rgb(42, 39, 39);
}

.position-center-x { left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.position-center-y { top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.my-button-disable {
  pointer-events: none;
  cursor: no-drop;
  opacity: 0.7;
}

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
